@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: local("Roboto"),
       url("../fonts/roboto.woff2") format("woff2"),
       url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: local("Roboto"),
       url("../fonts/robotobold.woff2") format("woff2"),
       url("../fonts/robotobold.woff") format("woff");  
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: local("Roboto"),
       url("../fonts/robotomedium.woff2") format("woff2"),
       url("../fonts/robotomedium.woff") format("woff");   
}

:root {
  --basic-black: #000000;
  --basic-dark: #283136;
  --basic-light-gray: #EEEEEE;
  --basic-middledark-gray: #666666;
  --basic-white: #FFFFFF;
  --basic-red: #FB565A;
  --basic-green: #00CA74;
  --basic-yellow: #EFC849;
  --basic-gray: #D7DCDE;
  --basic-middleblack: rgba(0, 0, 0, 0.4);
  --basic-gainsboro: #E1E1E1; 
  --basic-cinnabar: #E74246;
  --basic-jasper: #D7373B;
  --basic-jade: #00BC6C;
  --basic-middledark-green: #00AA62;
  --basic-dark-black: rgba(0, 1, 1, 0.1);
  --yellow: #EAB534;
  --middledark-yellow: #E5A722;
  --Ash-Gray: #B4B9BB;
  --white: rgba(255, 255, 255, 0.3);
  --gray: #C4C4C4;
  --middle-gray: #DFDFDF;
  --dark-gray: #D5D5D5;
  --black: rgba(0, 0, 0, 0.3);
}

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif; 
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-dark);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.inner-page h1 {
  text-align: center;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header {
  background-color: var(--basic-light-gray);
  margin-bottom: 80px;
}

.slider-first {
  background-image: url("../img/nerds-index-slide1.png");
  background-repeat: no-repeat;
  background-position: right -3px bottom;
  padding-top: 78px;
  padding-bottom: 73px;
}

.slider-first p {
  margin: 0;
  padding-top: 25px;
}

.slider-second {
  background-image: url("../img/nerds-index-slide2.png");
  background-repeat: no-repeat;
  background-position: right -3px bottom;
  padding-top: 78px;
  padding-bottom: 73px;
}

.slider-second p {
  margin: 0;
  padding-top: 37px;
}

.slider-third {
  background-image: url("../img/nerds-index-slide3.png");
  background-repeat: no-repeat;
  background-position: right -3px bottom;
  padding-top: 78px;
  padding-bottom: 73px;
}

.slider-third p {
  margin: 0;
  padding-top: 37px;
}

.inner-header {
  background-image: none;
}

.main-chapter {
  padding-top: 10px;
}

.main-chapter h1 {
  margin: 0;
}

.main-chapter p {
  margin: 0;
}
 
.main-header-logo {
  margin-top: 49px;
}

.main-header-logo:active {
  opacity: 0.3;
}

.main-navigation {
  display: grid;
  grid-template-columns: 170px 1fr min-content;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-black);
  text-transform: uppercase;
}

.inner-chapter {
  padding-top: 37px;
}

.clear-list  {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  margin-left: 202px;
  margin-top: 75px;
  width: 430px;
}

.site-navigation .site-navigation-current {
  position: relative;
}

.site-navigation-current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-bottom: 2px solid var(--basic-red);
  padding-bottom: 12px;
  color: var(--basic-black);
} 

.site-navigation a,
.user-navigation a {
  display: block;
  color: var(--basic-black);
}

.sorting a {
  color: inherit; 
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: var(--basic-red);
}

.site-navigation a:active,
.user-navigation a:active {
  opacity: 0.3;
}

.user-navigation {
  width: 140px;
  margin-top: 75px;
}

.basket-link::before {
  content: "";
  width: 15px;
  height: 15px;
  top: 8px;
  left: 25px;
  position: absolute;
  background-image: url("../img/chip-basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation .basket-link {
  padding-left: 70px;
  position: relative;
  color: var(--basic-black);
}

.main-header h1 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
}

.general {
  margin: 0;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
}

.button {
  display: block;
  text-align: center;
  width: 240px;
  font: inherit;
  padding-top: 17px;
  padding-bottom: 17px;
  font-weight: 500;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.button-main-chapter {
  margin-top: 38px;
}

.button-main-chapter:hover,
.button-red:hover,
.general-social:hover,
.button-form:hover,
.button-contacts:hover {
  background-color: var(--basic-cinnabar);
}

.button-main-chapter:active,
.button-red:active,
.general-social:active,
.button-form:active,
.button-contacts:active {
  background-color: var(--basic-jasper);
  box-shadow: inset 0 3px 0 var(--basic-dark-black);  
  color: var(--white);
}
.button-red {
  width: 160px;
  margin-top: 32px;
}

.button-green {
  width: 160px;
  margin-top: 32px;
  background-color: var(--basic-green);
}

.button-green:hover {
  background-color: var(--basic-jade);
}

.button-green:active {
  background-color: var(--basic-middledark-green);
  box-shadow: inset 0 3px 0 var(--basic-dark-black);
  color: var(--white);
}

.button-yellow {
  width: 160px;
  margin-top: 32px;
  background-color: var(--basic-yellow);
}

.button-yellow:hover {
  background-color: var(--yellow);
}

.button-yellow:active {
  background-color: var(--middledark-yellow);
  box-shadow: inset 0 3px 0 var(--basic-dark-black);
  color: var(--white);
}

.button-grey {
  font-weight: 500;
  color: var(--basic-black);
  background-color: var(--basic-light-gray);
}

.button-contacts {
  width: 219px;
  margin-top: 25px;
  margin-left: 50px;
  margin-bottom: 47px;
}

.info h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.info h3 {
  text-transform: uppercase;
}

.features figcaption {
  text-transform: uppercase;
  font-weight: 700;
}

.features-item {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}

.symbol {
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
}

.description {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.text {
  color: var(--basic-middledark-gray);
}

.naming {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
}

.contacts-phone {
  color: inherit;
}

.social-button {
  color: inherit;
}

.social-button:active svg {
  opacity: 0.3;
}

.profitable {
  display: flex;
  flex-wrap: wrap;
  padding-right: 50px;
  width: 660px;
  margin-bottom: 74px;
}

.profitable h2 {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
}

.profitable p {
  margin: 0;
  font-size: 16px;
  line-height: 22px; 
}

.modal {
  width: 960px;
  padding-left: 100px;
  padding-right: 100px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  box-shadow: 0 20px 40px var(--basic-middleblack);
  box-sizing: border-box;
}

.modal h2 {
  font-size: 45px;
  line-height: 37px;
}

.modal-form label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  padding-bottom: 9px;
}

.modal-form textarea {
  border: 2px solid;
  border-color: var(--basic-gray);
}

.page-switcher a {
  color: inherit;
}

.context {
  background-color: var(--basic-light-gray);
}

.sorting-type {
  display: flex; 
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 18px;
  width: 359px;
  margin-left: auto;
  text-transform: uppercase;
  padding-top: 22px;
}

.page {
  height: 100%;
}

.services {
  display: grid;
  margin-bottom: 80px;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  padding-right: 40px;
}

.wrapper {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.block-info {
  display: flex;
  width: 1160px;
  justify-content: space-between;
  border-top: 2px solid var(--basic-light-gray);
}

.clients-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; 
  width: 1160px;
  border-top: 2px solid var(--basic-light-gray);
  border-bottom: 2px solid var(--basic-light-gray);
  margin-top: 73px;
}

.block-social {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contacts {
  margin-bottom: 68px;
}

.main-footer {
  margin-top: 80px;
}

.sorting {
  display: grid;
  grid-template-columns: min-content 1fr;
  margin-bottom: 48px;
}

.block-filter {
  display: grid;
  grid-template-columns: 260px 1fr;
  align-content: start;
}

.block-sorting {
  margin-left: 141px;
}

.page-switcher {
  margin-top: 55px;
}

.block-products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 41px;
}

.features-list {
  display: flex;
  justify-content: space-between;
  padding-top: 31px;
  padding-right: 20px;
  transform: translateX(-10px);
}

.list-social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 263px;
  margin-bottom: 74px;
}

.block-modal {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.block-switcher {
  display: flex;
  justify-content: space-between;
  width: 435px;
}

.modal-item {
  display: flex;
  flex-direction: column;
}

.modal-item input {
  border: 2px solid var(--basic-gray);
  padding-top: 16px;
  padding-right: 14px;
  padding-bottom: 16px;
  padding-left: 16px;
}

.modal-item input:hover,
.modal-item textarea:hover {
  border: 2px solid var(--Ash-Gray);
}

.modal-item input:focus,
.modal-item textarea:focus {
  border: 2px solid var(--basic-black);
}

.modal-item textarea {
  padding-top: 16px;
  padding-right: 14px;
  padding-bottom: 84px;
  padding-left: 16px; 
}

.first-form {
  width: 47%;
}

.second-form {
  width: 47%;
}

.third-form {
  width: 100%;
  margin-top: 34px;
}

.button-form {
  margin-top: 40px;
  border: none;
  cursor: pointer;
}

.general-social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 81px;
  background-color: var(--basic-gainsboro);
  border-radius: 50%;
}

.filter-price {
  display: flex;
  justify-content: space-between;
  width: 229px;
}

.context {
  width: 70px;
  border-radius: 3px;
  background-color: var(--basic-light-gray);
}

.space-between-price {
  padding-left: 20px;
}

.button-switcher {
  display: block;
  width: 50px;
  text-align: center;
}

.next-button {
  display: block;
  width: 260px;
  text-align: center;
}

.button-show {
  display: block;
  width: 260px;
  text-align: center;
  margin-top: 50px;
  border: none;
  cursor: pointer;
}

.button-show:hover {
  background-color: var(--middle-gray);
}

.button-show:active {
  background-color: var(--dark-gray);
  box-shadow: inset 0 3px 0 var(--basic-dark-black);
  color: var(--black);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clients-items-one {
  position: relative;
  padding-top: 63px;
  padding-bottom: 60px;
}

.clients-items-two {
  position: relative;
  padding-top: 46px;
  padding-bottom: 44px;
}

.clients-items-three {
  position: relative;
  padding-top: 65px;
  padding-bottom: 63px;
}

.first-client,
.second-client,
.third-client,
.fourth-client {
  opacity: 0.2;
}

.first-client:hover,
.second-client:hover,
.third-client:hover,
.fourth-client:hover {
  opacity: 1;
}

.first-client:active,
.second-client:active,
.third-client:active,
.fourth-client:active {
  opacity: 0.1;
}
 
.clients-items-one::after,
.clients-items-two::after,
.clients-items-three::after {
  content: "";
  position: absolute;
  width: 52px;
  height: 2px;
  background-color: var(--basic-light-gray);
  background-position: 0 0;
  transform: rotate(90deg);
  left: 225px;
  bottom: 95px;
}

.fourth-client {
  padding-top: 52px;
  padding-bottom: 44px;
}

.map-marker {
  transform: translateX(737px) translateY(-335px);
}

.block-contacts {
  display: flex;
  flex-direction: column;
  width: 319px;
  padding-top: 49px;
  transform: translateY(-550px) translateX(100px);
  background-color: var(--basic-white);
  position: absolute;
}

.block-contacts p {
  margin: 0;
  align-items: center;
  padding-left: 50px;
  margin-bottom: 20px;
}

.address {
  color: var(--basic-middledark-gray);
}

.modal-close {
  transform: translateY(-395px) translateX(10px);
  opacity: 0.3;
  cursor: pointer;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}

.info-item::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
  background-position: 0 0;
  left: 1px;
  bottom: 30px;
}

.info-item {
  position: relative;
  padding-left: 37px;
  padding-bottom: 20px;
}

.circles {
  display: flex;
  width: 88px;
  justify-content: space-between;
  margin-left: 540px;
  transform: translateY(-105px);
}

.general-circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--basic-white);
  border: 1px solid var(--basic-white);
  cursor: pointer;
}

.circle-first {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 6px solid var(--basic-white);
  box-sizing: border-box;
  padding: 0;
  background-color: var(--gray);
}


/* .slide-first {
  background-image: url("../img/nerds-index-slide1.png");
  background-repeat: no-repeat;
  background-position: right 50px bottom;
} 

.slide-second {
  background-image: url("../img/nerds-index-slide2.png");
  background-repeat: no-repeat;
  background-position: right 50px bottom;
}

.slide-third {
  background-image: url("../img/nerds-index-slide3.png");
  background-repeat: no-repeat;
  background-position: right 50px bottom;
} */

















