@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: local("Roboto"),
       url("../fonts/roboto.woff2") format("woff2"),
       url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: local("Roboto Bold"),
       url("../fonts/robotobold.woff2") format("woff2"),
       url("../fonts/robotobold.woff") format("woff");  
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: local("Roboto Medium"),
       url("../fonts/robotomedium.woff2") format("woff2"),
       url("../fonts/robotomedium.woff") format("woff");   
}

:root {
  --basic-black: #000000;
  --basic-dark: #283136;
  --basic-light-gray: #EEEEEE;
  --basic-middledark-gray: #666666;
  --basic-white: #FFFFFF;
  --basic-red: #FB565A;
  --basic-green: #00CA74;
  --basic-yellow: #EFC849;
  --basic-gray: #D7DCDE;
  --basic-middleblack: rgba(0, 0, 0, 0.4);
  --basic-gainsboro: #E1E1E1; 
  --basic-cinnabar: #E74246;
  --basic-jasper: #D7373B;
  --basic-jade: #00BC6C;
  --basic-middledark-green: #00AA62;
  --basic-dark-black: rgba(0, 1, 1, 0.1);
  --yellow: #EAB534;
  --middledark-yellow: #E5A722;
  --Ash-Gray: #B4B9BB;
  --white: rgba(255, 255, 255, 0.3);
  --gray: #C4C4C4;
  --middle-gray: #DFDFDF;
  --dark-gray: #D5D5D5;
  --black: rgba(0, 0, 0, 0.3);
  --light-gray: rgba(166, 166, 166, 0.2);
}

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif; 
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-dark);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.inner-page h1 {
  text-align: center;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header {
  background-color: var(--basic-light-gray);
  margin-bottom: 80px;
}

.header-slide {
  background-repeat: no-repeat;
  background-position: right 3px bottom;
  padding-top: 65px;
  padding-bottom: 79px;
}

.header-slide p {
  margin-bottom: 0;
  margin-top: 37px;
}

.slide-first {
  background-image: url("../img/nerds-index-slide1.png");
}

.slide-first p {
  margin-top: 26px;
}

.slide-second {
  background-image: url("../img/nerds-index-slide2.png");
}

.slide-third {
  background-image: url("../img/nerds-index-slide3.png");
}

.circles {
  position: absolute;
  display: flex;
  width: 88px;
  justify-content: space-between;
  bottom: 96px;
  left: 50%;
  transform: translateX(-50%);
}

.general-circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--basic-white);
  border: 1px solid var(--basic-white);
  cursor: pointer;
}

.circle-active {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: none;
  box-sizing: border-box;
  padding: 0;
  background-color: var(--basic-white);
  box-shadow: inset 0 0 0 5px var(--basic-white), inset 0 0 0 7px var(--gray);
}

.inner-header {
  background-image: none;
}

.main-chapter {
  position: relative;
  padding-top: 12px;
}

.main-chapter h1 {
  margin: 0;
}

.main-header-logo {
  margin-top: 49px;
}

.main-header-logo:active {
  opacity: 0.3;
}

.main-navigation {
  display: grid;
  grid-template-columns: 170px 1fr min-content;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-black);
  text-transform: uppercase;
}

.inner-chapter {
  padding-top: 37px;
}

.clear-list  {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  margin-left: 192px;
  margin-top: 75px;
  width: 437px;
}

.site-navigation li:not(:first-child):not(:last-child) {
  padding-right: 1px;
}

.site-navigation .site-navigation-current {
  position: relative;
}

.site-navigation-current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-bottom: 2px solid var(--basic-red);
  padding-bottom: 12px;
  color: var(--basic-black);
}

.site-navigation a,
.user-navigation a {
  display: block;
  color: var(--basic-black);
}

.sorting h2 {
  margin: 0;
}

.sorting a {
  color: inherit;
  opacity: 0.3;
}

.sorting a:hover {
  opacity: 0.6;
}

.sorting-type-current a {
  opacity: 1;
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: var(--basic-red);
}

.site-navigation a:active,
.user-navigation a:active {
  opacity: 0.3;
}

.user-navigation {
  width: 140px;
  margin-top: 75px;
}

.basket-link::before {
  content: "";
  width: 15px;
  height: 15px;
  top: 7px;
  left: 23px;
  position: absolute;
  background-image: url("../img/chip-basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation .basket-link {
  padding-left: 66px;
  position: relative;
  color: var(--basic-black);
}

.main-header h1 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin-bottom: 13px;
  color: var(--basic-black);
}

.button {
  display: block;
  text-align: center;
  width: 240px;
  font: inherit;
  padding-top: 17px;
  padding-bottom: 17px;
  font-weight: 500;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.button-main-chapter {
  margin-top: 39px;
}

.button-main-chapter:hover,
.button-red:hover,
.general-social:hover,
.button-form:hover,
.button-contacts:hover {
  background-color: var(--basic-cinnabar);
}

.button-main-chapter:active,
.button-red:active,
.general-social:active,
.button-form:active,
.button-contacts:active {
  background-color: var(--basic-jasper);
  box-shadow: inset 0 3px 0 var(--basic-dark-black);
  color: var(--white);
}
.button-red {
  width: 160px;
  margin-top: 32px;
}

.button-green {
  width: 160px;
  margin-top: 32px;
  background-color: var(--basic-green);
}

.button-green:hover {
  background-color: var(--basic-jade);
}

.button-green:active {
  background-color: var(--basic-middledark-green);
  box-shadow: inset 0 3px 0 var(--basic-dark-black);
  color: var(--white);
}

.button-yellow {
  width: 160px;
  margin-top: 32px;
  background-color: var(--basic-yellow);
}

.button-yellow:hover {
  background-color: var(--yellow);
}

.button-yellow:active {
  background-color: var(--middledark-yellow);
  box-shadow: inset 0 3px 0 var(--basic-dark-black);
  color: var(--white);
}

.button-grey {
  font-weight: 500;
  color: var(--basic-black);
  background-color: var(--basic-light-gray);
}

.button-contacts {
  display:block;
  width: 100%;
  margin-top: 34px;
  margin-bottom: -10px;
}

.info h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin-top: 41px;
  margin-bottom: 33px;
}

.info h3 {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.info p {
  padding-bottom: 25px;
}

.features {
  margin-top: 14px;
}

.features figcaption {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin-top: 30px;
  padding-left: 2px;
}

.features-list {
  display: flex;
  justify-content: space-between;
  padding-top: 4px;
  padding-right: 14px;
  margin-top: 26px;
}

.features-item {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}

.symbol {
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
}

.description {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  margin-top: 11px;
}

.text {
  color: var(--basic-middledark-gray);
}

.naming {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
}

.contacts-phone {
  color: inherit;
}

.social-button {
  color: inherit;
}

.social-button:active svg {
  opacity: 0.3;
}

.profitable {
  margin-left: 133px;
  margin-top: -12px;
}

.profitable h2 {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
}

.profitable p {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 22px;
}

.modal {
  width: 960px;
  padding-left: 100px;
  padding-right: 100px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  box-shadow: 0 20px 40px var(--basic-middleblack);
  box-sizing: border-box;
}

.modal h2 {
  font-size: 45px;
  line-height: 37px;
}

.modal-form label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  padding-bottom: 9px;
}

.modal-form textarea {
  border: 2px solid;
  border-color: var(--basic-gray);
}

.page-switcher a {
  color: inherit;
}

.context {
  background-color: var(--basic-light-gray);
}

.sorting-type {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 18px;
  width: 359px;
  margin-left: auto;
  text-transform: uppercase;
  padding-top: 6px;
}

.page {
  height: 100%;
}

.services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 81px;
  padding-right: 42px;
  margin-bottom: 79px;
}

.service-one p,
.service-two p,
.service-three p {
  margin: 0;
}

.general-paragraph {
  padding-top: 16px;
}

.general {
  margin: 0;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
  margin-top: 17px;
}

.wrapper {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.block-info {
  display: flex;
  width: 1160px;
  justify-content: space-between;
  border-top: 2px solid var(--basic-light-gray);
  padding-top: 25px;
}

.clients-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 1160px;
  border-top: 2px solid var(--basic-light-gray);
  border-bottom: 2px solid var(--basic-light-gray);
  margin-top: 49px;
}

.block-social {
  display: flex;
  align-items: center;
}

.social-first {
  padding-right: 9px;
}

.social-second {
  padding-right: 9px;
}

.contacts {
  position: relative;
  margin-bottom: 79px;
  padding: 54px 0;
}

.contacts-map {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.main-footer {
  margin-top: 80px;
  padding-bottom: 68px;
}

.sorting {
  display: grid;
  grid-template-columns: min-content 1fr;
  margin-bottom: 48px;
}

.block-filter {
  display: grid;
  grid-template-columns: 260px 1fr;
  align-content: start;
}

.block-sorting {
  margin-left: 141px;
}

.page-switcher {
  margin-top: 55px;
}

.block-products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 41px;
}

.list-social {
  display: flex;
  align-items: center;
  width: 267px;
  margin-top: -9px;
}

.block-modal {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.block-switcher {
  display: flex;
  justify-content: space-between;
  width: 435px;
}

.modal-item {
  display: flex;
  flex-direction: column;
}

.modal-item input {
  border: 2px solid var(--basic-gray);
  padding-top: 16px;
  padding-right: 14px;
  padding-bottom: 16px;
  padding-left: 16px;
}

.modal-item input:hover,
.modal-item textarea:hover {
  border: 2px solid var(--Ash-Gray);
}

.modal-item input:focus,
.modal-item textarea:focus {
  border: 2px solid var(--basic-black);
}

.modal-item textarea {
  padding-top: 16px;
  padding-right: 14px;
  padding-bottom: 84px;
  padding-left: 16px;
}

.first-form {
  width: 47%;
}

.second-form {
  width: 47%;
}

.third-form {
  width: 100%;
  margin-top: 34px;
}

.button-form {
  margin-top: 40px;
  border: none;
  cursor: pointer;
}

.general-social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 81px;
  background-color: var(--basic-gainsboro);
  border-radius: 50%;
}

p {}

.filter-price {
  border: none;
}

.filter-net {
  padding: 0;
  margin-top: 54px;
  border: none;
}

.filter-features {
  padding: 0;
  margin-top: 43px;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-price legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  background-color: #f1f1f1;
  border-radius: 5px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.context {
  width: 70px;
  border-radius: 3px;
  background-color: var(--basic-light-gray);
}

.button-switcher {
  display: block;
  width: 50px;
  text-align: center;
  cursor: pointer;
}

.button-switcher:hover {
  background-color: var(--middle-gray);
}

.button-switcher:active {
  background-color: var(--dark-gray);
  box-shadow: inset 0 3px 0 var(--basic-dark-black);
  color: var(--black);
}

.next-button {
  display: block;
  width: 260px;
  text-align: center;
}

.next-button:hover {
  background-color: var(--middle-gray);
}

.next-button:active {
  background-color: var(--dark-gray);
  box-shadow: inset 0 3px 0 var(--basic-dark-black);
  color: var(--black);
}

.button-show {
  display: block;
  width: 260px;
  text-align: center;
  margin-top: 50px;
  border: none;
  cursor: pointer;
}

.button-show:hover {
  background-color: var(--middle-gray);
}

.button-show:active {
  background-color: var(--dark-gray);
  box-shadow: inset 0 3px 0 var(--basic-dark-black);
  color: var(--black);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clients-list li {
  position: relative;
  padding: 0;
  height: 179px;
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
  justify-content: center;
}

.clients-list a {
  opacity: 0.2;
  display: block;
}

.clients-list a:hover {
  opacity: 1;
}

.clients-list a:active {
  opacity: 0.1;
}

.clients-list li:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 52px;
  height: 2px;
  background-color: var(--basic-light-gray);
  background-position: 0 0;
  transform: rotate(90deg);
  right: -16px;
  bottom: 89px;
}

.clients-list li:nth-child(2)::after {
  right: -27px;
}

.clients-list li:nth-child(3)::after {
  right: -36px;
}

.first-client img {
  transform: translateX(-13px) translateY(5px);
}

.second-client img {
  transform: translateX(-4px) translateY(5px);
}

.third-client img {
  transform: translateX(7px) translateY(5px);
}

.fourth-client img {
  transform: translateX(17px) translateY(5px);
}

.map-marker {
  position: absolute;
  left: 50%;
  top: 70px;
  transform: translateX(128px);
}

.block-contacts {
  position: relative;
  z-index: 2;
  width: 320px;
  padding-top: 50px;
  background-color: var(--basic-white);
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 54px;
  box-sizing: border-box;
}

.block-contacts h2 {
  margin: 0;
  align-items: center;
  margin-bottom: 13px;
}

.address {
  margin-top: 18px;
  color: var(--basic-middledark-gray);
}

.address .street {
  margin: 0;
  margin-bottom: 7px;
}

p.street {}

.street {
  margin-top: 0;
}

.address p {margin: 0px;}

.contacts-phone {
}

.modal-close {
  transform: translateY(-395px) translateX(10px);
  opacity: 0.3;
  cursor: pointer;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}

.info {
  margin-top: 8px;
}

.info-list {
  padding-top: 6px;
}

.info-item::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
  background-position: 0 0;
  left: 0;
  top: 43%;
}

.info-item {
  position: relative;
  padding-left: 36px;
  margin-bottom: 24px;
}

.arrow-down,
.arrow-up {
  opacity: 0.2;
}

.arrow-down:hover,
.arrow-up:hover {
  opacity: 1;
}
